body, html {
    padding: 0;
    margin: 0;
    height: 100vh;

}

h1 {
  text-align: center;
}

.container {
  position: relative;
  margin: auto;
  width: 30%;
  padding: 10px;
}

#palette{
     position:absolute;
     bottom:0;
     width:100%;
     height:60px;
     background-color: aqua;
  }

}

.center {

}
