html,
body {
   margin:0;
   padding:0;
   height:100%;
}

h1 {
  text-align: center;
}

#container {
  position: absolute;
}


#palette {
    width: 40%;
    height: 40px;
    margin: auto;
  }

  .colors {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 2px solid black;
  }

  .pixels{

  }

#red{

}
#blue{

}
#yellow{
  
}
