html,
body {
  margin:0;
  padding:0;
  height:100%;
  background-image: url("http://www.guoguiyan.com/data/out/144/69286588-papyrus-wallpapers.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: cursive;
}

#container {
  margin: auto;
  width: 50%;
  padding: 10px;
}


#palette {
    width: 40%;
    height: 40px;
    margin: auto;
  }

  .colors {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 2px solid black;
  }
